#{extends 'main.html' /}
#{set title:'Jurado' /}
#{set section:'Jurado' /}
#{set subsection:judge.name_and_surname() /}


<div id="accordion">
    <h3>
        <a name="tab1">
            Interfaz administrativa
        </a>
    </h3>

    <div>
        <table border="1" class="ui-widget">
            <thead class="ui-widget-header">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Equipo</th>
                    #{list problems, as:'problem'}
                        <th>Solución #${problem_index}</th>
                    #{/list}
                    <th>Puntaje</th>
                </tr>
            </thead>
            <tbody class="ui-widget-content">
                #{list items:participants, as:'participant'}
                <tr>
                    <td>${participant_index}</td>
                    <td>${participant.name}</td>
                    <td>${participant.surname}</td>
                    <td>${participant.team}</td>
                    #{list problems, as:'problem'}
                    <td>
                        #{if participant.hasSolved(problem)}
                            #{a @Judges.evaluateSolution(participant.id, problem.getSolution().id, problem.id)}Evaluar#{/a}
                        #{/if}
                        #{else}
                            Pendiente
                        #{/else}
                    </td>
                    #{/list}
                    <td>${participant.getPoints()}</td>
                </tr>
                #{/list}
            </tbody>
        </table>
    </div>

    <h3>
        <a name="tab2">
            Datos personales
        </a>
    </h3>

    <div>
        <ul>
            <li>Nombre: ${ judge.name_and_surname() }</li>
            <li>Concurso: ${ competition }</li>
        </ul>
    </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function(){
        // Make the accordion
        $('#accordion').accordion();
    });
</script>
#{/set}
