#{extends 'main.html' /}
#{set title:'Jurado' /}
#{set section:'Jurado' /}
<div class="main-section">
    <h2>Concursantes</h2>

    <table id="tab" border="1" class="ui-widget">
        <thead class="ui-widget-header">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Equipo</th>
                <th>Trabajo</th>
                <th>Evaluaci&oacute;n</th>
                <th>Puntaje</th>
            </tr>
        </thead>
        <tbody class="ui-widget-content">
            #{list items:participants, as:'participant'}
            <tr>
                <td>${participant_index}</td>
                <td>${participant.name}</td>
                <td>${participant.surname}</td>
                <td>${participant.team}</td>
                <td>
                #{if !(participant.work.exists()) && (competition.startTime == null)}
                    Pendiente
                #{/if}
                #{elseif (participant.work.exists()) && (competition.startTime != null)}
                    <a href="@{Participants.showWork(participant.id)}">Ver</a>
                #{/elseif}
                #{elseif (competition.startTime != null) && (competition.endTime != null)}
                    No entregó.
                #{/elseif}
                </td>
                <td>
                #{if participant.work != null }
                    No disponible
                    #{if concursante.trabajo.exists() == true}
                        <a href="@{Judges.evaluate(concursante.id)}">Evaluar</a></td>
                    #{/if}
                #{/if}

                <td></td>
            </tr>
            #{/list}
        </tbody>
    </table>
</div>

<div class="info-section">
    <h2>Tus datos</h2>

    <ul>
        <li>Nombre: ${ judge.name_and_surname() }</li>
        <li>Concurso: ${ competition }</li>
    </ul>


<script type="text/javascript">
   $(document).ready(function()
   {
       #{tabularasa.init tableId:'tab'}
           var tabExtras = {
               "toolbarTarget": "customiseTable",
               "toolbar": "<button>hello</button>"
           };
           var tabParameters = {
               "aoColumns": [ {"sName": "name"},
                              {"sName": "location"}],
               "sAjaxSource": "",
               "bProcessing": true,
               "bServerSide": true,
               "sDom": 'lfrtip<"customiseTable">'
            };
       #{/tabularasa.init}

       // redraw every second
       $("tab").everyTime(1000, function(i) {
           $(this).fnDraw(false);
       });
   });

</script>