#{extends 'main.html' /}
#{set title:'Concursante' /}
#{set section:'Concursante' /}


    #{showTimer /}

<div class="main-section">
#{if !(concurso.tiempoInicial)}
    <h2>El concurso no ha empezado aún.</h2>
    <p>Cuando empieza el concurso puedes subir tu trabajo.</p>
#{/if}
#{elseif concurso.tiempoInicial && !(concursante.trabajo.exists()) }
    <h3>Subir trabajo</h3>
    #{form @Concursantes.subirTrabajo(concursante.id), method:'POST',
        id:'trabajo-form', enctype:'multipart/form-data' }
        <p>
            #{field 'trabajo'}
            <input type="file" name="${field.name}" value="${concursante?.trabajo}" size=""><br />
            <input type="submit" value="Enviar">
            #{/field}
        </p>
    #{/form}
#{/elseif}
#{elseif concursante.trabajo != null}
    <h2>Has subido el trabajo!</h2>

    <a href="@{Concursantes.mostrarTrabajo(concursante.id)}">Ver tu trabajo.</a>
#{/elseif}
</div>

<div class="info-section">
    <h2>Datos personales:</h2>
    <ul>
        <li>Nombre:   ${ concursante.nombre } ${ concursante.apellido }</li>
        <li>Equipo:   ${ equipo }</li>
        <li>Concurso: ${ concurso.toString() }</li>
    </ul>
</div>