#{extends 'main.html' /}
#{set title:'Organizador' /}
#{set section:'Organizador' /}

#{showTimer competition:competition/}

<div id="accordion">
    <h3>
        <a name="tab1">
            Administrar Concurso
        </a>
    </h3>
    <div>
        <div id="timechooser">

    #{ifnot competition.startTime}
        #{ifErrors}
        <div class="ui-state-error">
            <h1>Oops…</h1>

            #{errors}
                <li>${error}</li>
            #{/errors}
        </div>
        #{/ifErrors}

        #{form @Organizers.startCompetition(competition.id), method:'POST', id:'competition-form'}
            #{field 'duration'}
            <h4>Duración del concurso</h4>
            <input type="text" name="${field.name}" id="timepicker" size="10" value="00:00:00" />
            #{/field}

            <h4>Problemas</h4>
            <p>Define aqui los problemas que cada participante debe completar
                en el tiempo establecido.
            </p>
            <hr />
        #{ifnot problems}
            <p>Se debe crear problemas primeramente!</p>
        #{/ifnot}
        #{else}
                #{field 'problem_id'}
                    #{select field.name, items:problems, valueProperty:'id', labelProperty:'title', class:"problem-select" /}
                #{/}
                <p class="problem-description" >Descripcion del problema...</p>

            <div>
                <a id="add-problem" href="">Agregar problema...</a>
                <a id="remove-problem" href="">Borrar problema...</a>
            </div>
        #{/else}

            <br />
            <input type="submit" value="Iniciar Concurso" />
        #{/form}
    #{/ifnot}
    #{elseif !(competition.endTime)}
        #{form @Organizers.stopCompetition(competition.id), method:'POST'}
            <input type="submit" value="Parar Concurso" />
        #{/form}
        #{form @Organizers.resetCompetition(competition.id), method:'POST'}
            <input type="submit" value="Resetear Concurso" />
        #{/form}
    #{/elseif}
    #{elseif competition.startTime && competition.endTime}
            <p>El concurso ha terminado.</p>
        #{form @Organizers.resetCompetition(competition.id), method:'POST'}
            <input type="submit" value="Resetear Concurso" />
        #{/form}
    #{/elseif}
        </div>
    </div>

    <h3>
        <a name="tab2">
            Administrar Participantes
        </a>
    </h3>
    <div>

        <table id="tab" border="1" class="ui-widget">
            <thead class="ui-widget-header">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Equipo</th>
                    <th>Bloquear submision</th>
                </tr>
            </thead>
            <tbody class="ui-widget-content">
                #{list items:participants, as:'participant'}
                <tr>
                    <td>${participant_index}</td>
                    <td>${participant.name}</td>
                    <td>${participant.surname}</td>
                    <td>${participant.team}</td>
                    <td>
                    #{if participant.isBlocked() == false}
                        #{a @Organizers.canSubmit(participant.id, false) }Bloquear#{/a}
                    #{/if}
                    #{else}
                        #{a @Organizers.canSubmit(participant.id, true) }Desbloquear#{/a}
                    #{/else}
                    </td>

                </tr>
                #{/list}
            </tbody>
        </table>
    </div>

    <h3>
        <a name="tab3">
            Datos personales
        </a>
    </h3>
    <div>
        <ul>
            <li>Nombre:   ${ organizer.name_and_surname() }</li>
            <li>Concurso: ${ competition }</li>
        </ul>

    </div>
</div>

#{set 'moreScripts'}
<script type="text/javascript">
    $(document).ready(function(){
        $("#timepicker").timepicker({
            timeOnlyTitle: 'Determinar duración',
            timeText: 'Tiempo',
            hourText: 'Horas',
            minuteText: 'Minutos',
            secondText: 'Segundos',
            currentText: 'Tiempo actual',
            closeText: 'OK',
            timeFormat: 'hh:mm:ss',
            showSecond: true
        });

        // Callback for showing problem description in textarea when clicking the problem
        var jqhxr = $(".problem-select").live("change", function() {
            var getDescription = #{jsAction @Problems.getDescription(':id') /}
            jQuery.get(getDescription({id: $(this).val()}), function(data) {
                $('.problem-description').text(data);
            });
        });

        // Make the accordion
        $('#accordion').accordion();

        // Make the form dynamic
        $(".problem-select").dynamicForm("#add-problem", "#remove-problem", {
            limit:5,
            createColor:'yellow',
            removeColor:'red'
        });
    });

    // Catch Ajax Errors
    $.ajaxSetup({"error":function(XMLHttpRequest,textStatus, errorThrown) {
        alert(textStatus);
        alert(errorThrown);
        alert(XMLHttpRequest.responseText);
    }});
</script>
#{/set}