#{extends 'main.html' /}
#{set title:'Organizador' /}
#{set section:'Organizador' /}

#{showTimer competition:competition/}

<div id="accordion">
    <h3>
        <a href="#tab1">
            Administrar Concurso
        </a>
    </h3>
    <div>
        <div id="timechooser">

    #{ifnot competition.startTime}
        #{form @Organizers.startCompetition(competition.id), method:'POST', id:'timechooser-form'}
            #{field 'duration'}
            <label>Establecer duración del concurso</label>
            <input type="text" name="${field.name}" id="timepicker" size="10" value="${field.value}" />
            #{/field}

            <label>Elegir el problema</label>
        #{ifnot problems}
            <p>Se debe crear problemas primeramente!</p>
        #{/ifnot}
        #{else}
            #{field 'problem'}
                #{select 'problem', items:problems, valueProperty:'id', labelProperty:'title', value:5, id:"problem-select" /}
            #{/}
            <br />
            <textarea id="problem-description"></textarea>
        #{/else}

            <br />
            <input type="submit" value="Iniciar Concurso" />
        #{/form}
    #{/ifnot}
    #{elseif !(competition.endTime)}
        #{form @Organizers.stopCompetition(competition.id), method:'POST'}
            <input type="submit" value="Parar Concurso" />
        #{/form}
    #{/elseif}
    #{elseif competition.startTime && competition.endTime}
            <p>El concurso ha terminado.</p>
    #{/elseif}

        </div>
    </div>

    <h3>
        <a href="#tab2">
            Administrar Participantes
        </a>
    </h3>
    <div>

        <table id="tab" border="1" class="ui-widget">
            <thead class="ui-widget-header">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Equipo</th>
                    <th>Bloquear submision</th>
                </tr>
            </thead>
            <tbody class="ui-widget-content">
                #{list items:participants, as:'participant'}
                <tr>
                    <td>${participant_index}</td>
                    <td>${participant.name}</td>
                    <td>${participant.surname}</td>
                    <td>${participant.team}</td>
                    <td>
                    #{if participant.isBlocked() == false}
                        #{a @Organizers.canSubmit(participant.id, false) }Bloquear#{/a}
                    #{/if}
                    #{else}
                        #{a @Organizers.canSubmit(participant.id, true) }Desbloquear#{/a}
                    #{/else}
                    </td>

                </tr>
                #{/list}
            </tbody>
        </table>
    </div>

    <h3>
        <a href="#tab4">
            Datos personales
        </a>
    </h3>
    <div>
        <ul>
            <li>Nombre:   ${ organizer.name_and_surname() }</li>
            <li>Concurso: ${ competition }</li>
        </ul>

    </div>
</div>

<script type="text/javascript">
    $("#timepicker").timepicker({
        timeOnlyTitle: 'Determinar duración',
        timeText: 'Tiempo',
        hourText: 'Horas',
        minuteText: 'Minutos',
        secondText: 'Segundos',
        currentText: 'Tiempo actual',
        closeText: 'OK',
        timeFormat: 'hh:mm:ss',
        showSecond: true
    });

</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#accordion').accordion();
    });

    $(document).ready(function() {
        $("select#problem-select").change(function() {
            $.getJSON("@{Problems.getDescription()}", {id: $(this).val()}, function(data) {
                $("#problem-description").text(data);
            })
        })
    });
</script>