#{extends 'main.html' /}
#{set title:'Concursante - ' + participant.name + ' ' + participant.surname /}
#{set section:'Concursante' /}
#{set subsection:participant.name + ' ' + participant.surname /}

#{showTimer competition:competition /}

<div id="accordion">
    <h3><a href="#tab1">Informaci&oacute;n General</a></h3>
    <div>
        <h3>Anunciado del problema</h3>
        <p>${problem?.description }</p>
    </div>

    <h3><a href="#tab2">Subir trabajo</a></h3>
    <div>
    #{if participant.work == null }
        #{form @Participants.submitWork(participant.id), method:'POST',
            id:'trabajo-form', enctype:'multipart/form-data' }
            <p>
                #{field 'work'}
                <input type="file" name="${field.name}" value="${participant.work}" size=""><br />
                <input type="submit" value="Enviar">
                #{/field}
            </p>
        #{/form}
    #{/if}
    #{elseif participant.work != null}
        <h3>Has subido el trabajo!</h3>

        <a href="@{Participants.mostrarTrabajo(concursante.id)}">Ver tu trabajo.</a>
    #{/elseif}
    </div>

    <h3><a href="#tab3">Resumen</a></h3>
    <div>
        <table id="tab" border="1" class="ui-widget">
            <thead class="ui-widget-header">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Equipo</th>
                    <th>Puntaje</th>
                </tr>
            </thead>
            <tbody class="ui-widget-content">
                #{list participants, as:'participant'}
                <tr>
                    <td>${participant_index}</td>
                    <td>${participant.name}</td>
                    <td>${participant.surname}</td>
                    <td>${participant.team}</td>
                    <td>${participant.getPoints() }</td>
                </tr>
                #{/list}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#accordion').accordion();
});
</script>
