#{extends 'main.html' /}
#{set title:'Organizador' /}
#{set section:'Organizador' /}

#{showTimer /}

<div class="main-section">
    <div id="timechooser">

#{ifnot concurso.tiempoInicial}
    #{form @Organizadores.iniciarConcurso(concurso.id), method:'POST', id:'timechooser-form'}
        #{field 'duracion'}
        <label>Determinar duración del concurso</label>
        <input type="text" name="${field.name}" id="timepicker" size="7" value="00:00:00" />
        #{/}
        <br />
        <input type="submit" value="Iniciar Concurso" />
    #{/form}
#{/ifnot}
#{elseif !(concurso.tiempoFinal)}
    #{form @Organizadores.pararConcurso(concurso.id), method:'POST'}
        <input type="submit" value="Parar Concurso" />
    #{/form}
#{/elseif}
#{elseif concurso.tiempoInicial && concurso.tiempoFinal}
        <p>El concurso ha terminado.</p>
#{/elseif}

    </div>
</div>

<div class="info-section">
    <h2>Datos personales</h2>

    <ul>
        <li>Nombre:   ${ organizador.nombre_y_apellido() }</li>
        <li>Concurso: ${ concurso }</li>
    </ul>

</div>

<script type="text/javascript">
    $("#timepicker").timepicker({
        timeOnlyTitle: 'Determinar duración',
        timeText: 'Tiempo',
        hourText: 'Horas',
        minuteText: 'Minutos',
        secondText: 'Segundos',
        currentText: 'Tiempo actual',
        closeText: 'OK',
        timeFormat: 'hh:mm:ss',
        showSecond: true
    });

</script>