#{extends 'main.html' /}
#{set title:'Inicio' /}

<div class="main-section">
    <h2>Elige tu rol:</h2>
    <div class="image-box-1">
        <a href="@{ Concursantes.index() }"><img src="@{'/public/images/concursante.png'}" /></a>
    </div>
    <div class="image-box-2">
        <a href="@{ Jurados.index() }"><img src="@{'/public/images/jurado.png'}" /></a>
    </div>
    <div class="image-box-3">
        <a href="@{ Organizadores.index() }"><img src="@{'/public/images/organizador.png'}" /></a>
    </div>
</div>