#{extends 'main.html' /}
#{set title:'Inicio' /}
#{set section:'Índice' /}

<div class="main-section">
    <h2>Elige tu rol:</h2>
    <div class="image-box-1">
        <a href="@{ Participants.index() }"><img alt="jurado" src="@{'/public/images/concursante.png'}" /></a>
    </div>
    <div class="image-box-2">
        <a href="@{ Judges.index() }"><img alt="jurado" src="@{'/public/images/jurado.png'}" /></a>
    </div>
    <div class="image-box-3">
        <a href="@{ Organizers.index() }"><img alt="jurado" src="@{'/public/images/organizador.png'}" /></a>
    </div>
</div>