#{extends 'main.html' /}
#{set title:'Inicio' /}

<div class="registro">
    <h2>Registrarte como</h2>
    <ul>
        <li><a href="@{ Concursantes.index() }">Concursante</a></li>
        <li><a href="@{ Jurados.index() }">Jurado</a></li>
        <li><a href="@{ Organizadores.index() }">Organizador</a></li>
    </ul>
</div>

<div class="concursos">
    <h2>Concursos</h2>

#{if concursos.size()}
    #{list items:concursos, as: 'concurso'}
    <div class="concurso">
        <h3 class="post-title">
            <a href="@{Application.show(concurso.id)}">${concurso.titulo}</a>
        </h3>
    </div>
    #{/list}
#{/if}
#{else}
    <div class="empty">
        No hay ningun concurso planificado.
    </div>
#{/else}

</div>
