<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Administration</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        #{get 'moreStyles' /}
        <link rel="stylesheet" type="text/css" media="screen"
                href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png"
                href="@{'/public/images/favicon.png'}" />
        <script src="@{'/public/javascripts/jquery-1.5.min.js'}"></script>
    </head>
    <body id="admin">

        <div id="header">
            <div id="logo">
                Gestor de Concursos <span>administraci&oacute;n</span>
            </div>
            <ul id="tools">
                <li>
                    <a href="@{Secure.logout()}">Cerrar sesión</a>
                </li>
            </ul>
        </div>

        <div id="main">

            <ul id="adminMenu">
                <li class="${request.controller == 'Admin' ? 'selected' : ''}">
                    <a href="@{Admin.index()}">Administraci&oacute;n</a>
                </li>
                <li class="${request.controller == 'Concursos' ? 'selected' : ''}">
                    <a href="@{Concursos.list()}">Concursos</a>
                </li>
                <li class="${request.controller == 'Organizadores' ? 'selected' : ''}">
                    <a href="@{Organizadores.list()}">Organizadores</a>
                </li>
                <li class="${request.controller == 'Equipos' ? 'selected' : ''}">
                    <a href="@{Equipos.list()}">Equipos</a>
                </li>
                <li class="${request.controller == 'Concursantes' ? 'selected' : ''}">
                    <a href="@{Concursantes.list()}">Concursantes</a>
                </li>
                <li class="${request.controller == 'Jurados' ? 'selected' : ''}">
                    <a href="@{Jurados.list()}">Jurados</a>
                </li>
                <li class="${request.controller == 'Usuarios' ? 'selected' : ''}">
                    <a href="@{Usuarios.list()}">Usuarios</a>
                </li>
                <li class="${request.controller == 'ApplicationRoles' ? 'selected' : ''}">
                    <a href="@{ApplicationRoles.list()}">Roles</a>
                </li>
            </ul>

            #{doLayout /}
        </div>

        <p id="footer">
            Proyecto 3º BATIN
        </p>

    </body>
</html>