<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery.timers.js'}" type="text/javascript" charset="utf-8"></script>
        <link type="text/css" href="@{'/public/stylesheets/smoothness/jquery-ui-1.8.10.custom.css'}" rel="Stylesheet" />
        <script type="text/javascript" src="@{'/public/javascripts/jquery-ui-1.8.10.custom.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jquery-ui-timepicker.js'}"></script>
        <link type="text/css" href="@{'/public/stylesheets/jquery-ui-timepicker.css'}" rel="Stylesheet" />
        #{get 'moreScripts' /}
    </head>
    <body>
        <div id="header">
            <div id="logo">
                Gestor de concursos
                <span>
                    #{get 'section' /}
                </span>
            </div>
            <ul id="tools">
                <li>
                    #{if usuario}
                    Hola, ${usuario.login}! <a href="@{ Secure.logout() }">Desconectar.</a>
                    #{/if}
                    #{else}
                    <a href="@{ Secure.login() }">Iniciar sesion</a>
                    #{/else}
                </li>
            </ul>
        </div>

        <div id="main">

            <div class="main">
            #{doLayout /}
            </div>
        </div>

        <p id="footer">
            Proyecto de 3º BATIN
        </p>
    </body>
</html>
